<section class="flex justify-center items-center min-h-screen bg-cover bg-center bg-no-repeat"
  style="background-image: url('assets/terapiasalaazul.png');">
  <!-- Contenedor principal -->
  <div class="bg-white shadow-lg rounded-2xl p-10 w-full max-w-md md:max-w-lg lg:max-w-sm mx-4 md:mx-0">
    <!-- Logo y título -->
    <div class="flex flex-col items-center gap-y-4 mb-10">
      <img ngSrc="assets/logo-n.webp" alt="logo-n" width="112" height="112" class="h-28 w-28" priority />
      <h1 class="text-3xl font-thin text-gray-800">PLENA-Mente</h1>
    </div>

    <!-- Formulario -->
    <form (ngSubmit)="login()" #loginForm="ngForm" class="space-y-6">
      <!-- Campo Usuario -->
      <div>
        <div
          class="flex items-center border border-gray-300 rounded-lg shadow-sm focus-within:ring-2 focus-within:ring-blue-500">
          <input [(ngModel)]="username" name="username" #usernameInput="ngModel" required minlength="3"
            class="outline-none text-lg w-full px-3 py-2 rounded-l-lg" type="text" placeholder="Usuario" />
          <i class="ti ti-user text-2xl px-3 text-gray-500"></i>
        </div>
      </div>

      <!-- Campo Contraseña -->
      <div>
        <div
          class="flex items-center border border-gray-300 rounded-lg shadow-sm focus-within:ring-2 focus-within:ring-blue-500">
          <input [(ngModel)]="password" name="password" #passwordInput="ngModel" required minlength="6"
            class="outline-none text-lg w-full px-3 py-2" [type]="showPassword ? 'text' : 'password'"
            placeholder="Contraseña" />
          <!-- Condicionar el ícono -->
          <button type="button" *ngIf="password.length > 0" (click)="showPassword = !showPassword"
            class="text-gray-500 px-3 focus:outline-none">
            <i [class]="showPassword ? 'ti ti-eye-off text-2xl' : 'ti ti-eye text-2xl'"></i>
          </button>
          <i *ngIf="password.length === 0" class="ti ti-lock text-2xl px-3 text-gray-500"></i>
        </div>
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="passwordInput.errors?.['required']">
            La contraseña es requerida.
          </div>
          <div *ngIf="passwordInput.errors?.['minlength']">
            La contraseña debe tener al menos 6 caracteres.
          </div>
        </div>
      </div>

      <!-- Botón de envío -->
      <button type="submit" [disabled]="loginForm.invalid"
        class="bg-blue-600 text-white py-3 rounded-lg w-full font-medium hover:bg-blue-700 transition disabled:opacity-50 disabled:cursor-not-allowed">
        INICIAR SESIÓN
      </button>
    </form>
  </div>
</section>