<section class="flex flex-col items-center mt-6 px-4 w-full max-w-2xl mx-auto">
  <!-- Contenedor principal -->
  <div class="bg-white shadow-lg rounded-lg p-6 w-full">
    <!-- Cargando -->
    <div *ngIf="isLoading" class="text-center text-gray-500 text-xl">
      <i class="fas fa-spinner fa-spin mr-2"></i> Cargando detalles del paciente...
    </div>

    <!-- Detalles del paciente -->
    <div *ngIf="!isLoading && patient" class="space-y-6">
      <h1 class="text-3xl font-bold mb-6 text-center text-blue-800">
        Detalles del Paciente
      </h1>

      <div class="divide-y divide-gray-300 space-y-6">
        <!-- Información Personal -->
        <div class="space-y-4">
          <h2 class="text-xl font-medium text-gray-700">Información Personal</h2>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
              <i class="ti ti-id text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">ID:</span>
              <span class="ml-auto text-gray-600">{{ patient.idPatient }}</span>
            </div>

            <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
              <i class="ti ti-id-badge text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">Nombre:</span>
              <span class="ml-auto text-gray-600">{{ patient.name }}</span>
            </div>

            <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
              <i class="ti ti-id-badge text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">Apellido Paterno:</span>
              <span class="ml-auto text-gray-600">{{ patient.paternalSurname }}</span>
            </div>

            <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
              <i class="ti ti-id-badge text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">Apellido Materno:</span>
              <span class="ml-auto text-gray-600">{{ patient.maternalSurname }}</span>
            </div>

            <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
              <i class="ti ti-id text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">DNI:</span>
              <span class="ml-auto text-gray-600">{{ patient.dni }}</span>
            </div>

            <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
              <i class="ti ti-calendar text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">Edad:</span>
              <span class="ml-auto text-gray-600">{{ patient.age }}</span>
            </div>

            <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
              <i class="ti ti-user text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">Estado:</span>
              <span
                class="ml-auto"
                [ngClass]="{
                  'text-green-500': patient.status,
                  'text-red-500': !patient.status
                }">
                {{ patient.status ? 'Activo' : 'Inactivo' }}
              </span>
            </div>

            <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
              <i class="ti ti-book text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">Plan:</span>
              <div class="ml-auto text-gray-600">
                <span>{{ getCurrentPlanName() }}</span>
                <span *ngIf="currentPlan" class="ml-2 text-sm text-gray-500">
    </span>
              </div>
            </div>

          </div>
        </div>

        <div class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3">
          <i class="ti ti-checklist text-2xl text-gray-500 mr-3"></i>
          <span class="font-medium text-gray-700">Estado del Plan:</span>
          <span
            class="ml-auto"
            [ngClass]="{
      'text-green-500': patient.planStatus === 'COMPLETADO',
      'text-blue-500': patient.planStatus === 'EN_CURSO',
      'text-yellow-500': patient.planStatus === 'EN_ESPERA'
    }">
    {{ getPlanStatusLabel(patient.planStatus) }}
  </span>
        </div>

        <!-- Presunción Diagnotisca -->
        <div class="space-y-4">
          <h2 class="text-xl font-medium text-gray-700">Presunción Diagnóstica</h2>
          <div class="flex flex-col border border-gray-300 rounded-lg shadow-sm p-3">
            <textarea
              readonly
              class="w-full p-4 border rounded-md text-gray-700 bg-white-100 focus:outline-none">
              {{ patient.presumptiveDiagnosis || 'Ninguna' }}
            </textarea>
          </div>
        </div>

        <!-- Tutores -->
        <div *ngIf="patient?.tutors && patient.tutors.length > 0" class="space-y-4">
          <h2 class="text-xl font-medium text-gray-700">Tutores</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div
              *ngFor="let tutor of patient.tutors"
              class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3"
            >
              <i class="ti ti-id-card text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">Nombre:</span>
              <span class="ml-auto text-gray-600">{{ tutor.fullName }}</span>
            </div>
            <div
              *ngFor="let tutor of patient.tutors"
              class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3"
            >
              <i class="ti ti-id text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">DNI:</span>
              <span class="ml-auto text-gray-600">{{ tutor.dni }}</span>
            </div>
            <div
              *ngFor="let tutor of patient.tutors"
              class="flex items-center border border-gray-300 rounded-lg shadow-sm p-3"
            >
              <i class="ti ti-phone text-2xl text-gray-500 mr-3"></i>
              <span class="font-medium text-gray-700">Teléfono:</span>
              <span class="ml-auto text-gray-600">{{ tutor.phone }}</span>
            </div>
          </div>
        </div>
      </div>


      <!-- Botones -->
      <div class="flex justify-center gap-8 mt-8">
        <button
          class="bg-blue-100 text-blue-700 px-6 py-3 rounded-full text-base font-medium hover:bg-blue-200 transition duration-200"
          (click)="goBack()"
        >
          <i class="ti ti-arrow-left mr-2"></i>
          Volver a la Lista
        </button>

        <button
          class="bg-blue-100 text-blue-700 px-6 py-3 rounded-full text-base font-medium hover:bg-blue-200 transition duration-200"
          (click)="editPatient()"
        >
          <i class="ti ti-edit mr-2"></i>
          Editar Paciente
        </button>

        <!-- Botón de Historial Médico -->
        <button
          (click)="goToMedicalHistory()"
          class="bg-green-100 text-green-700 px-6 py-3 rounded-full text-base font-medium hover:bg-green-200 transition duration-200"
        >
          <i class="ti ti-file-medical mr-2"></i>
          Historial Médico
        </button>

        <button
          *ngIf="patient.planStatus === 'COMPLETADO' && !patient.status"
          class="bg-green-100 text-green-700 px-6 py-3 rounded-full text-base font-medium hover:bg-green-200 transition duration-200"
          (click)="renewPlan()"
        >
          <i class="ti ti-refresh mr-2"></i>
          Renovar Plan
        </button>
      </div>
    </div>
  </div>
</section>
