<section class="flex flex-col items-center mt-12 mb-10 w-full max-w-xl mx-auto">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <h1 class="text-3xl font-bold mb-10 text-center text-blue-800">Registrar Paciente</h1>

    <!-- Nombres -->
    <div class="mb-5 relative">
      <label class="block text-lg font-medium text-gray-700">Nombres</label>
      <input type="text" formControlName="name" placeholder="Nombres"
             class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
             [ngClass]="{'border-red-500': patientForm.get('name')?.invalid && patientForm.get('name')?.touched}" />
      <p class="mt-1 text-sm text-red-600" *ngIf="patientForm.get('name')?.invalid && patientForm.get('name')?.touched">
        El nombre es requerido y debe tener al menos 2 caracteres.
      </p>
    </div>

    <!-- Apellido Paterno y Materno -->
    <div class="flex gap-5 mb-5">
      <div class="w-1/2">
        <label class="block text-lg font-medium text-gray-700">Apellido Paterno</label>
        <input type="text" formControlName="paternalSurname" placeholder="Apellido Paterno"
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
               [ngClass]="{
            'border-red-500':
              patientForm.get('paternalSurname')?.invalid &&
              patientForm.get('paternalSurname')?.touched
          }" />
        <p class="mt-1 text-sm text-red-600" *ngIf="
            patientForm.get('paternalSurname')?.invalid &&
            patientForm.get('paternalSurname')?.touched
          ">
          El apellido paterno es requerido.
        </p>
      </div>

      <div class="w-1/2">
        <label class="block text-lg font-medium text-gray-700">Apellido Materno</label>
        <input type="text" formControlName="maternalSurname" placeholder="Apellido Materno"
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
               [ngClass]="{
            'border-red-500':
              patientForm.get('maternalSurname')?.invalid &&
              patientForm.get('maternalSurname')?.touched
          }" />
        <p class="mt-1 text-sm text-red-600" *ngIf="
            patientForm.get('maternalSurname')?.invalid &&
            patientForm.get('maternalSurname')?.touched
          ">
          El apellido materno es requerido.
        </p>
      </div>
    </div>

    <!-- Fecha de Nacimiento y Edad -->
    <div class="flex gap-5 mb-5">
      <div class="w-1/2">
        <label class="block text-lg font-medium text-gray-700">Fecha de Nacimiento</label>
        <input type="date" formControlName="birthdate"
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
               [ngClass]="{
            'border-red-500':
              patientForm.get('birthdate')?.invalid &&
              patientForm.get('birthdate')?.touched
          }" />
        <p class="mt-1 text-sm text-red-600" *ngIf="
            patientForm.get('birthdate')?.invalid &&
            patientForm.get('birthdate')?.touched
          ">
          La fecha de nacimiento es requerida.
        </p>
        <p class="mt-1 text-sm text-red-600" *ngIf="
            patientForm.get('birthdate')?.hasError('outOfRange') &&
            patientForm.get('birthdate')?.touched
          ">
          Ingresa una fecha correcta.
        </p>
      </div>
    </div>

    <!-- DNI del Paciente -->
    <div class="mb-5 relative">
      <label class="block text-lg font-medium text-gray-700">DNI</label>
      <input type="text" formControlName="dni" placeholder="DNI" maxlength="8"
             (keypress)="limitInputLength($event, 8); onlyNumber($event)"
             class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
             [ngClass]="{
          'border-red-500': patientForm.get('dni')?.invalid && patientForm.get('dni')?.touched
        }" />
      <p class="mt-1 text-sm text-red-600"
         *ngIf="patientForm.get('dni')?.hasError('required') && patientForm.get('dni')?.touched">
        El DNI es obligatorio.
      </p>
      <p class="mt-1 text-sm text-red-600"
         *ngIf="patientForm.get('dni')?.hasError('pattern') && patientForm.get('dni')?.touched">
        El DNI debe tener exactamente 8 dígitos.
      </p>
      <p class="mt-1 text-sm text-red-600"
         *ngIf="patientForm.get('dni')?.hasError('duplicateWithTutor') && patientForm.get('dni')?.touched">
        El DNI del paciente no puede coincidir con el de un tutor.
      </p>
      <p class="mt-1 text-sm text-red-600"
         *ngIf="patientForm.get('dni')?.hasError('duplicateWithDatabase') && patientForm.get('dni')?.touched">
        El DNI ya está registrado en el sistema.
      </p>
    </div>

    <!-- Presunción Diagnotisca -->
    <div class="mb-5 relative">
      <label class="block text-lg font-medium text-gray-700">Presunción Diagnotisca</label>
      <textarea formControlName="presumptiveDiagnosis" placeholder="Presunción Diagnotisca" rows="3"
                class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"></textarea>
    </div>

    <!-- Plan -->
    <div class="mb-5 relative">
      <label class="block text-lg font-medium text-gray-700">Plan</label>
      <select formControlName="idPlan"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
              [ngClass]="{
          'border-red-500':
            patientForm.get('idPlan')?.invalid && patientForm.get('idPlan')?.touched
        }">
        <option [value]="null" disabled>Seleccione un plan</option>
        <option *ngFor="let plan of plans" [value]="plan.id">{{ plan.name }}</option>
      </select>
      <p class="mt-1 text-sm text-red-600"
         *ngIf="patientForm.get('idPlan')?.invalid && patientForm.get('idPlan')?.touched">
        Es obligatorio seleccionar un plan.
      </p>
    </div>

    <!-- Fechas y Horas (Sesiones) -->
    <div formArrayName="sessionDates" *ngIf="isDateTimePickerVisible > 0">
      <div *ngFor="let session of sessionDates.controls; let i = index" [formGroupName]="i" class="mb-5">
        <label class="block text-lg font-medium text-gray-700">Fecha {{ i + 1 }}</label>
        <input type="date" formControlName="sessionDate" (change)="onSessionChange(i)"
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
               [ngClass]="{'border-red-500': session.get('sessionDate')?.invalid && session.get('sessionDate')?.touched}" />
        <div class="mt-1 text-sm text-red-600"
             *ngIf="session.get('sessionDate')?.errors?.['invalidDay'] && session.get('sessionDate')?.touched">
          No se pueden programar sesiones los domingos
        </div>

        <div class="flex gap-5">
          <div class="w-1/2">
            <label class="block text-lg font-medium text-gray-700">Hora de Inicio</label>
            <input type="time" formControlName="startTime" (change)="onSessionChange(i)"
                   class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
                   [ngClass]="{'border-red-500': session.get('startTime')?.invalid && session.get('startTime')?.touched}" />
            <div class="mt-1 text-sm text-red-600"
                 *ngIf="session.get('startTime')?.errors?.['invalidTimeRange'] && session.get('startTime')?.touched">
              El horario de atención es de 9:00 AM a 1:00 PM y de 3:00 PM a 7:00 PM
            </div>
          </div>
          <div class="w-1/2">
            <label class="block text-lg font-medium text-gray-700">Hora de Fin</label>
            <div class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg bg-gray-50">
              {{ session.value.startTime ? format12Hours(addMinutes(session.value.startTime, 50)) : '-- : -- --' }}
            </div>
            <input type="hidden" formControlName="endTime" />
          </div>
        </div>

        <div class="flex gap-5 mt-5">
          <div class="w-1/2">
            <label class="block text-lg font-medium text-gray-700">Sala</label>
            <select formControlName="room"
                    class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
                    [ngClass]="{'border-red-500': session.get('room')?.invalid && session.get('room')?.touched}">
              <option [ngValue]="null">Seleccione una sala</option>
              <option *ngFor="let room of rooms" [value]="room.idRoom">{{ room.name }}</option>
            </select>
            <div class="mt-1 text-sm text-red-600"
                 *ngIf="session.get('room')?.errors?.['noAvailableRooms']">
              No hay salas disponibles para el horario seleccionado
            </div>
          </div>
          <div class="w-1/2">
            <label class="block text-lg font-medium text-gray-700">Terapeuta</label>
            <select formControlName="therapist"
                    class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
                    [ngClass]="{'border-red-500': session.get('therapist')?.invalid && session.get('therapist')?.touched}">
              <option [ngValue]="null">Seleccione un terapeuta</option>
              <option *ngFor="let therapist of therapistsMap.get(i) || []" [value]="therapist.id">
                {{ therapist.name }}
              </option>
            </select>
            <div class="mt-1 text-sm text-red-600"
                 *ngIf="session.get('therapist')?.errors?.['noAvailableTherapists']">
              No hay terapeutas disponibles para el horario seleccionado
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tutores -->
    <div formArrayName="tutors" class="mb-5">
      <h2 class="text-lg font-medium text-gray-700 mb-3">Tutores</h2>
      <div *ngFor="let tutor of tutors.controls; let i = index" [formGroupName]="i"
           class="border p-4 mb-4 rounded-lg bg-gray-50 shadow-sm">
        <h3 class="font-medium mb-3">Tutor {{ i + 1 }}</h3>

        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700">Nombre del Tutor</label>
          <input type="text" formControlName="fullName" placeholder="Nombre del Tutor"
                 class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
                 [ngClass]="{
              'border-red-500':
                tutor.get('fullName')?.invalid &&
                tutor.get('fullName')?.touched
            }" />
          <p class="mt-1 text-sm text-red-600" *ngIf="tutor.get('fullName')?.invalid && tutor.get('fullName')?.touched">
            El nombre del tutor es requerido.
          </p>
        </div>

        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700">DNI</label>
          <input type="text" formControlName="dni" placeholder="DNI" maxlength="8"
                 (keypress)="limitInputLength($event, 8); onlyNumber($event)"
                 class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
                 [ngClass]="{
              'border-red-500':
                tutor.get('dni')?.invalid &&
                tutor.get('dni')?.touched
            }" />
          <p class="mt-1 text-sm text-red-600"
             *ngIf="tutor.get('dni')?.hasError('required') && tutor.get('dni')?.touched">
            El DNI del tutor es requerido.
          </p>
          <p class="mt-1 text-sm text-red-600"
             *ngIf="tutor.get('dni')?.hasError('pattern') && tutor.get('dni')?.touched">
            El DNI debe tener exactamente 8 dígitos.
          </p>
          <p class="mt-1 text-sm text-red-600" *ngIf="
              tutor.get('dni')?.hasError('duplicateWithDatabase') &&
              tutor.get('dni')?.touched
            ">
            El DNI del tutor ya está registrado en el sistema.
          </p>
        </div>

        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700">Teléfono</label>
          <input type="tel" formControlName="phone" placeholder="Teléfono" maxlength="9"
                 (keypress)="limitInputLength($event, 9); onlyNumber($event)"
                 class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800"
                 [ngClass]="{
              'border-red-500':
                tutor.get('phone')?.invalid &&
                tutor.get('phone')?.touched
            }" />
          <p class="mt-1 text-sm text-red-600"
             *ngIf="tutor.get('phone')?.hasError('required') && tutor.get('phone')?.touched">
            El teléfono del tutor es requerido.
          </p>
          <p class="mt-1 text-sm text-red-600"
             *ngIf="tutor.get('phone')?.hasError('pattern') && tutor.get('phone')?.touched">
            El teléfono debe tener exactamente 9 dígitos.
          </p>
        </div>

        <button type="button" (click)="removeTutor(i)" *ngIf="tutors.length > 1"
                class="bg-red-600 text-white px-4 py-2 rounded-lg text-sm hover:bg-red-500 transition">
          Eliminar Tutor
        </button>
      </div>

      <button *ngIf="tutors.length < 2" type="button" (click)="addTutor()"
              class="bg-blue-800 text-white px-5 py-2 rounded-lg text-sm hover:bg-blue-700 transition">
        Añadir Tutor
      </button>
    </div>

    <!-- Botones -->
    <div class="flex gap-5 justify-center mt-10">
      <button type="button" (click)="onSubmit()" class="px-5 py-2 rounded-lg text-xl" [ngClass]="{
       'bg-blue-800 hover:bg-blue-700 text-white': patientForm.valid,
       'bg-gray-500 text-gray-300 cursor-not-allowed': patientForm.invalid
        }" [disabled]="patientForm.invalid">
        Guardar
      </button>
      <button type="button" (click)="openCancelModal()"
              class="bg-gray-500 text-white px-5 py-2 rounded-lg text-xl hover:bg-gray-400">
        Cancelar
      </button>
    </div>

    <!-- Modal de Confirmación -->
    <div *ngIf="showRegisterModal"
         class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
      <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <h3 class="text-xl font-bold text-blue-800 mb-4">Confirmar Registro</h3>
        <p class="text-gray-700 mb-6">¿Estás seguro de que deseas registrar este paciente?</p>
        <div class="flex justify-end space-x-4">
          <button (click)="confirmRegister()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
            Sí, Registrar
          </button>
          <button (click)="closeRegisterModal()" class="bg-gray-300 px-4 py-2 rounded hover:bg-gray-400">
            Cancelar
          </button>
        </div>
      </div>
    </div>

    <!-- Modal de Confirmación de Cancelación -->
    <div *ngIf="showCancelModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
      <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <h3 class="text-xl font-bold text-red-800 mb-4">Confirmar Cancelación</h3>
        <p class="text-gray-700 mb-6">¿Estás seguro de que deseas cancelar el registro?</p>
        <div class="flex justify-end space-x-4">
          <button (click)="confirmCancel()" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">
            Sí, Cancelar
          </button>
          <button (click)="closeCancelModal()" class="bg-gray-300 px-4 py-2 rounded hover:bg-gray-400">
            Volver
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
