/* Asegurarse de que las filas respondan al contenido dinámico */
.fc-timegrid-slot {
  height: auto !important; /* Altura dinámica */
  min-height: 60px;
  display: flex;
  align-items: flex-start;/* Opcional: altura mínima */
}

.fc-timegrid-event {
  height: auto !important; /* Expandir el evento según el contenido */
  white-space: normal; /* Permite salto de línea dentro del evento */
}

.fc-content-col {
  height: auto !important; /* Ajustar la altura de las columnas al contenido */
}

.fc-event {
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); /* Agregar sombra */
}

/* Añadir espacio entre los detalles del evento */
.fc-event .flex {
  display: flex;
  flex-direction: column;
  gap: 4px; /* Espacios entre líneas del contenido */
}

.full-calendar {
  overflow: visible !important; /* Asegura que no haya restricciones de altura */
  height: auto !important; /* Permitir ajuste dinámico */
}
