::ng-deep .event-content {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::ng-deep .fc-event {
  cursor: pointer;
  transition: all 0.2s;
}

::ng-deep .fc-event:hover {
  transform: scale(1.02);
}

::ng-deep .fc-event-title {
  font-weight: 500;
  margin-bottom: 2px;
}

::ng-deep .fc-event-time {
  font-size: 0.75rem;
  opacity: 0.75;
}
