/* Mantener los estilos existentes y agregar/modificar estos */
.fc-timegrid-slot {
  height: auto !important;
  min-height: 45px !important; /* Ajustar a un valor más pequeño */
  display: flex;
  align-items: center;
}

.fc-timegrid-slot-label {
  vertical-align: middle !important;
}

/* Ajustar el estilo del encabezado "Hora de Inicio" */
.fc-timegrid-slot-label-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Ajustar el espacio del contenedor de eventos */
.fc-timegrid-event-harness {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Mejorar la visualización de los eventos */
.fc-timegrid-event {
  min-height: 40px !important;
  margin: 1px 0 !important;
  padding: 4px !important;
}

/* Asegurar que el contenedor principal tenga altura adecuada */
.fc-view-harness {
  height: auto !important;
  min-height: 600px !important;
}

/* Ajustar el espacio entre las columnas de tiempo */
.fc-timegrid-cols {
  min-height: inherit;
}

.fc-timegrid-axis-frame {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.fc-timegrid-axis.fc-scrollgrid-shrink {
  text-align: center !important;
}

.fc .fc-col-header-cell-cushion {
  text-transform: uppercase;
}

/* Para el título del mes */
.fc .fc-toolbar-title {
  text-transform: capitalize;
}
