<div class="container mx-auto my-4 px-4">
  <!-- Filtros -->
  <div class="mb-6">
    <h2 class="text-xl font-bold text-gray-800 mb-4">Filtrar Sesiones</h2>
    <div class="grid grid-cols-2 gap-4">
      <!-- Selección de fecha -->
      <div>
        <label for="date-picker" class="block text-sm font-medium text-gray-700">Seleccionar Fecha:</label>
        <input
          id="date-picker"
          type="date"
          [(ngModel)]="selectedDate"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          (change)="onFilterChange()"
        />
      </div>

      <!-- Selección de terapeuta -->
      <div>
        <label for="therapist-select" class="block text-sm font-medium text-gray-700">Seleccionar Terapeuta:</label>
        <select
          id="therapist-select"
          [(ngModel)]="selectedTherapistId"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          (change)="onFilterChange()"
        >
          <option value="">Todos</option>
          <option *ngFor="let therapist of therapists" [value]="therapist.id">{{ therapist.name }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Calendario -->
  <div class="bg-white rounded-lg shadow overflow-hidden">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
